@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

:root {
  /* ### Primary */
  --scissors-gradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
  --paper-gradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
  --rock-gradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
  --lizard-gradient: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
  --spock-gradient: hsl(189, 59%, 53%), hsl(189, 58%, 57%);

  /* ### Neutral */
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);

  /* ### Background */
  --radial-gradient: hsl(214, 47%, 23%), hsl(237, 49%, 15%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-image: radial-gradient(var(--radial-gradient));
  background-repeat: no-repeat;
  color: #fff;
  height: 100vh;
}

.container {
  max-width: 700px;
  margin: auto;
  /* display: none; */
}

.header {
  border: 2px solid var(--header-outline);
  border-radius: 10px;
  margin-top: 40px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  width: 10vw;
  text-align: center;
  line-height: 0.75;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 10px;
}

.header .score {
  background: white;
  margin: 0.75rem 0;
  padding: 0.5rem 3rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2;
}

.header .score > span:first-child {
  color: var(--score-text);
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 3px;
}

.header .score > span:last-child {
  color: var(--dark-text);
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
}

.choices {
  width: 100%;
  height: 400px;
  margin: 2rem auto;
  background: url('../images/bg-pentagon.svg') no-repeat center center;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
  position: relative;
}

.choices .choice {
  width: 140px;
  height: 140px;
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.choices .choice > img {
  padding: 20px !important;
}

.choices .choice > img,
.modal-content span img {
  background-color: #fff;
  padding: 30px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  box-shadow: 0 1vmin #bbbfd3 inset;
  -webkit-box-shadow: 0 1vmin #bbbfd3 inset;
}

.rock {
  background-image: radial-gradient(var(--rock-gradient));
  box-shadow: 0 1vmin #dc2e4e;
  -webkit-box-shadow: 0 1vmin #dc2e4e;
  top: 0;
  left: 40%;
}

.paper {
  background-image: radial-gradient(var(--paper-gradient));
  box-shadow: 0 1vmin #2745be;
  -webkit-box-shadow: 0 1vmin #2745be;
  top: 25%;
  left: 60%;
}

.scissors {
  background-image: radial-gradient(var(--scissors-gradient));
  box-shadow: 0 1vmin #c46b1c;
  -webkit-box-shadow: 0 1vmin #c46b1c;
  top: 25%;
  left: 20%;
}

.lizard {
  background-image: radial-gradient(var(--lizard-gradient));
  box-shadow: 0 1vmin #5f37a9;
  -webkit-box-shadow: 0 1vmin #5f37a9;
  bottom: 0;
  left: 28%;
}

.spock {
  background-image: radial-gradient(var(--spock-gradient));
  box-shadow: 0 1vmin #2b8dab;
  -webkit-box-shadow: 0 1vmin #2b8dab;
  bottom: 0;
  left: 52%;
}

.restart {
  position: absolute;
  bottom: 30px;
  right: 30px;
  border-radius: 7px;
  background: transparent;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  cursor: pointer;
  outline: none;
}

@media (max-width: 600px) {
  .container {
    max-width: 100%;
    padding-top: 30px;
  }

  .header {
    margin: 0;
  }

  .header h1 {
    display: none;
  }
}
